<!DOCTYPE html>
<html ng-app="demoApp">
<!-- allows angular (from entry.js) to bind itself to this HTML tag -->
<!-- will not work without ng app -->
<head>
  <meta charset="utf-8">
  <title>Cowsay Client</title>
</head>
<body>
  <nav ng-controller="NavController as navCtrl">
    <ul>
      <!-- ng-repeat iterates through an array and gives you each obj -->
      <li ng-repeat="navItem in navCtrl.routes">
        <a ng-href="{{navItem.url}}">{{navItem.name}}</a>
      </li>
    </ul>
  </nav>
  <i class="fa fa-rocket"></i>
  <section ng-controller="CowsayController as cowsayCtrl" ng-init="cowsayCtrl.currentCow='satanic'">
    <!-- attaches the CowsayController to the DOM -->
    <!-- now the cowsayCtrl.title property can be data bound to the template -->
    <h1>{{cowsayCtrl.title}}</h1>
    <form ng-submit="cowsayCtrl.repeatCow(cowsayCtrl.text)"
    novalidate
    name="cowsayForm"
    ng-class="{'app-red': cowsayForm.$invalid}">
    <input type="text" ng-model="cowsayCtrl.text" required ng-minlength="4">
    <select ng-model="cowsayCtrl.currentCow">
      <option ng-repeat="cowfile in cowsayCtrl.cowfiles" value="{{cowfile}}">
        {{cowfile}}
      </option>
    </select>
    <button type="submit">Click Here</button>
    <button type="button" ng-click="cowsayCtrl.resetCow()">Reset</button>
  </form>
  <pre>
    {{cowsayCtrl.updateCow(cowsayCtrl.text)}}
  </pre>
  <h3 ng-if="!cowsayCtrl.state"> THIS WILL BE REMOVED FROM DOM</h3>
  <p ng-hide="cowsayCtrl.state"> Waiting for you to speak </p>
  <pre ng-show="cowsayCtrl.state">
    {{cowsayCtrl.state}}
  </pre>
</section>
</body>
</html>
